<div>
  <h2 class="mb-4 text-3xl font-bold tracking-tight text-heading md:text-2xl lg:text-4xl">Current debt {{ currentDebt() }}</h2>
  <div>
    <hlm-drawer>
      <button hlmDrawerTrigger hlmBtn variant="outline">
        <ng-icon name="lucidePlus" />
        <span>Create debt</span>
      </button>
      <app-party-debt-form formType="debt"/>
    </hlm-drawer>
    <hlm-drawer>
      <button hlmDrawerTrigger hlmBtn variant="outline">
        <ng-icon name="lucidePlus" />
        <span>Create recoupment</span>
      </button>
      <app-party-debt-form formType="recoupment"/>
    </hlm-drawer>
  </div>
  <br />
  <talpay-table [columns]="columns" [data]="partyDebts()"></talpay-table>
</div>

