<h1>View {{ partyType() }} - {{ partyName() }} ({{partyId()}})</h1>

<hlm-tabs tab="summary" class="mx-auto flex max-w-3xl flex-col">
  <hlm-tabs-list aria-label="party navigation tabs">
    <a hlmTabsTrigger="summary" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Summary</a>
    <a hlmTabsTrigger="engagements" routerLink="./engagements" routerLinkActive="active">Engagements</a>
    <a hlmTabsTrigger="debt" routerLink="./debt" routerLinkActive="active">Debt</a>
    <a hlmTabsTrigger="history" routerLink="./history" routerLinkActive="active">History</a>
    <a hlmTabsTrigger="payments" routerLink="./payments" routerLinkActive="active">Payments</a>
    <a hlmTabsTrigger="relationships" routerLink="./relationships" routerLinkActive="active">Relationships</a>
  </hlm-tabs-list>
</hlm-tabs>
<router-outlet></router-outlet>
