@if (party().type === 'contributor') {
  <accordion [title]="'Demographic Details'">
    <demographic-details [demographicDetails]="getContributorParty().demographicDetails"></demographic-details>
  </accordion>
}
<accordion [title]="'Payment Details'">
  <payment-summary-details [paymentDetails]="party().paymentDetails"></payment-summary-details>
</accordion>
<accordion [title]="'VAT Details'">
  <vat-summary-details [vatDetails]="party().vatDetails"></vat-summary-details>
</accordion>
@if (party().type === 'contributor') {
  <accordion [title]="'Union Pension Details'">
    <union-pension-summary-details [unionPensionDetails]="getContributorParty().unionPensionDetails"></union-pension-summary-details>
  </accordion>
}
